.dialog-box {
  --delay-animation: 0.5s;
  background-color: white;
  border: 1px solid black;
  display: flex;
  height: auto;
  padding: 8px;
  width: auto;
  max-width: 400px;

  .text-animated {
    color: black;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    white-space: pre-line;

    .space {
      margin-right: 4px;
    }

    span {
      opacity: 0;
      animation: appear 0s linear;
      animation-delay: var(--delay-animation);
      animation-fill-mode: forwards; // stay on last frame
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
