@import "./styles/theme.css";
@import "./styles/features.css";
@import "./styles/base.css";
@import "./styles/card.css";
@import "./styles/title.css";

/* Modern css reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body:not(.light-theme) {
  .theme-toggle .sun {
    opacity: 0;
    transform: rotate(90deg) scale(0);
    position: absolute;
  }

  .theme-toggle .moon {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

body.light-theme {
  .theme-toggle .sun {
    opacity: 1;
    transform: rotate(0) scale(1);
  }

  .theme-toggle .moon {
    opacity: 0;
    transform: rotate(-90deg) scale(0);
  }
}
